[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-searchnemo
Exec=harbour-searchnemo
Name=SearchNemo
Comment=Text and files search tool
Comment[pl]=Narzędzie wyszukiwania tekstu i plików
Comment[sv]=Text- och filsökverktyg
Comment[it]=Strumento di ricerca file
Comment[es]=Herramienta para buscar texto y ficheros
